<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--  <title></title>-->
  <title>算客工场--重庆市工作中心(0006464)</title>
<!--  <meta name="description" content="算客工场-- 是一个直达工程师的实名制交易平台，当你遇到任何工程项目问题，都可以快速找到合适的算客，在线委托需求，支付费用，获得服务；我们致力于用共享经济的理念改变工作方式，借助互联网连接工程建设领域的服务需求与工程师，让从业者更方便的出售知识和技能。"/>-->
  <meta name="description" content="算客工场-- 是一个直达工程师的实名制交易平台，当你遇到任何工程项目问题，都可以快速找到合适的算客，在线委托需求，支付费用，获得服务；我们致力于用共享经济的理念改变工作方式，借助互联网连接工程建设领域的服务需求与工程师，让从业者更方便的出售知识和技能。"/>
<!--  <meta name="keywords" content="算客工场,造价私活,造价,安装算量,抽钢筋,土建算量,精装算量,北京小栗科技有限公司"/>-->
  <meta name="keywords" content="算客工场,造价私活,造价,安装算量,抽钢筋,土建算量,精装算量,北京小栗科技有限公司"/>
  <link rel="stylesheet" media="all" href="static/css/application-f742c9f4d291b8a5e98f7948d3ab74777a2b906c7081c9c6a7b3a231883543f5.css" data-turbolinks-track="true" />

  <script src="static/js/application-a53f0e0a6a61a86e6cb8f94a2fb64a861d3f1c5f341a2ae992c4adf325a4ea38.js" data-turbolinks-track="true"></script>
  <script src="static/js/highcharts.js" data-turbolinks-track="true"></script>
  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="SqFbvy8FbBG1jtPmanKj8s7agHwRTezGFEuKVAIeLg+uF1ydm+8cHjXfi7mI84jajiMHYqv6WlugL84f7W/BVg==" />
  <style>
    .header {
      position: relative;
      z-index: 0;
    }
    /*时间控件*/
    .ui-datepicker-title{
      display: flex !important;
      justify-content: center !important;
    }
    .ui-datepicker-year, .ui-datepicker-month{
      background: #ffffff !important;
      color: #f66626 !important;
    }
  </style>
</head>
<body>

<!--[if lt IE 10]>

<p class="ui-tip ui-tip-yellow font-center ie-update">
  您正在使用IE低版本浏览器，为了您的账号安全和更好的产品体验，<br/>强烈建议您立即 <a class="font-blue"
                                                href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"
                                                target="_blank">升级IE浏览器</a> 或者用更快更安全的 <a class="font-blue"
                                                                                         href="http://www.baidu.com/s?wd=chrome"
                                                                                         target="_blank">谷歌浏览器Chrome</a>
  。
  <br/>
  <br/>
  <br/>
  <span class="font16">您也可以关注我们的微信公众号，随时随地使用算客工场</span><br/>
  <img class="mt10 mb10" src="static/picture/wx-ie-ad7b5613fee33b52167aee1634394882650e400a1fe28d66f6c42a9d8639d4a4.jpg" alt="Wx ie ad7b5613fee33b52167aee1634394882650e400a1fe28d66f6c42a9d8639d4a4" width="780" height="375" />
</p>
<![endif]-->

<div class="header" style="z-index: 999;">
  <div class="w rel">
    <a href="/" class="fl">
      <img src="static/picture/logo-b-7dc7909fd0c649f0c33ead53590ba017abe9398b2493a0a86bff0fdbd0093c5e.png" alt="Logo b 7dc7909fd0c649f0c33ead53590ba017abe9398b2493a0a86bff0fdbd0093c5e" width="147" height="38" />
    </a>
    <ul class="mnav fl">
      <li>
        <a href="/home/pub_index">发布项目</a>
      </li>
      <li>
        <a href="/projects/pub">项目</a>
      </li>
      <li>
        <a href="/companies">企业/团队</a>
      </li>
      <li>
        <a href="/members">算客</a>
      </li>
      <!--      <li>-->
      <!--      </li>-->

      <li>
        <a href="/qas">帮助</a>
      </li>
    </ul>

    <div class="login mr">
  <div class="loginLater">
    <a class="userTitle new" href="javascript:void(0);">
      发现
      <img src="static/picture/nav_dropdown-8b682a5122f5ec43ead40fb80dd8293a4e0db544b05ede7efecbffaac19024a2.png" alt="Nav dropdown 8b682a5122f5ec43ead40fb80dd8293a4e0db544b05ede7efecbffaac19024a2" />
    </a>

    <div class="umenu" style="position: absolute; left:0;">
      <ul style="display: block;">
        <li>
          <a href="/recruits">招聘</a>
        </li>
        <li>
          <a href="/share_softwares">工具箱</a>
        </li>
        <li>
          <a href="/articles">最新动态</a>
        </li>
        <li>
          <a target="_blank" href="/vip_members/new">算客会员</a>
        </li>
<!--        <li>-->
<!--        </li>-->
        <li>
          <a target="_blank" href="/origins">算客经纪人</a>
        </li>
        <li>
          <a href="/coupons">算客大礼包</a>
        </li>
        <li>
          <a href="/my/perm">我的权限</a>
        </li>

      </ul>
    </div>
  </div>
</div>

    <div class="login fr">


        <a class="loginButton" onclick="$('#show_login_div').show()" href="javascript:;">登录</a>

        <a class="regButton" href="/member_applies?from=nav_top">注册</a>

    </div>
  </div>
</div>
<div class="clearfix"></div>
  <!--<a href="javascript:void(0)" onclick="show_little_alert('show_login_div')">-->
<!--登录参与-->
<!--</a>-->
<style>
  #show_login_div .Validform_wrong{
    display: flex;
    align-items: center;
    padding: 5px 20px;
    font-size: 12px;
  }

  #show_login_div .Validform_wrong::before{
    content: '';
    background: url(static/images/login_error_icon-2fdef50ff4540ce104cd74e7fcd05fb63bc863e243d4feebf77a5d7dec3f957a.png) no-repeat;/*兼容没测*/
    background-size: cover;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 2px;
  }
</style>
<div id="show_login_div" style="display: none;">
  <div class="font20 little-alert" style="top: 80px;position: fixed;">
    <div class="alert-header">
      <span class="title">欢迎登录！</span>
      <i class="close-icon" onclick="polling_flag = false;$('#show_login_div').hide();"></i>
    </div>
    <div class="alert-content">
      <div class="bid_form_div" style="padding: 20px 20px 10px 20px;text-align:center;">
        <div class="publish-item login-type-select">
          <div style="display: flex;margin-bottom: 20px;padding: 0 30px;">
            <a class="font-link active" login_type="pwd" href="javascript:void(0);">密码登录</a>
            <a class="font-link" login_type="wx" href="javascript:void(0);">微信登录</a>
            <a class="font-link" login_type="valid" href="javascript:void(0);">验证码登录</a>
          </div>

          <div class="login-type">
            <div class="pwd-login">
              <form class="new_user" style="padding:0; margin:0;" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="fI0Fqa5dB0/aYvw/GbaESmuEvcIyai3vKNcS1+GGxQWYOwKLGrd3QFozpGD7N69iK3063Ijdm3Kcs1acDvcqXA==" />
                  <p><span class="font-red" style="font-size:14px;" id="err_msg"></span></p>
                  <table class="publish-project_info" style="width: 80%; margin: 0 auto;" cellspacing="0" cellpadding="0">
                    <tr>
                      <td>
                        <input autofocus="autofocus" id="new_user_mobile" placeholder="请输入手机号" datatype="*" class="ui-input" style="width:400px" nullmsg="不能为空" type="text" value="" name="user[mobile]" />
                        <div class="Validform_checktip"></div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input autocomplete="off" id="user_pwd" onkeydown="if(event.keyCode==13){document.getElementById(&#39;btn_login&#39;).click();return false};" placeholder="请输入您的密码" datatype="*" nullmsg="不能为空" style="width:400px" class="ui-input" type="password" name="user[password]" />
                        <div class="Validform_checktip"></div>
                      </td>
                    </tr>
                    <tr>
                      <td align="font14 left" style="padding-left:20px;display: flex;justify-content: space-between;">
                        <span>
                          <label style="margin: 0;" for="ck_rmbUser">记住密码</label>
                          <input type="checkbox" name="ck_rmbUser" id="ck_rmbUser" value="1" style="margin: 0 0 0 2px;" />
                        </span>
                        <span>
                          <a class="font14 font-green1 mr20" href="/users/password/new">忘记密码?</a>
                        </span>

                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="button" class="font16 ui-btn confirm-btn" style="width: 374px;" onclick="$('#err_msg').text('');" id="btn_login" AUTOCOMPLETE="off" value="登录">
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a class="font16" style="color: #337ab7;" href="/member_applies?from=nav_top">注册</a>

<!--                        <span>-->
<!--                        </span>-->
                      </td>
                    </tr>
                  </table>
</form>            </div>
            <div class="wx-login">
              <img style="height: 160px;width: 160px;" id="wx_qr_img" src="static/picture/default_qr_code-e370b7478685a8868ad8f637a4b82d704cdafdb953b8fc24cb47930ca4a964f5.jpg" alt="Default qr code e370b7478685a8868ad8f637a4b82d704cdafdb953b8fc24cb47930ca4a964f5" />
              <span class="font16" style="padding: 20px 0 0 0;">使用微信扫一扫登录</span>
            </div>
            <div class="valid-login">
              <form id="login_by_mobile-for-login" action="/origins/login_by_mobile" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="7UynN0lQW5t4xxbvd1jsEgI3vgnlL9794EBRAILW49MJ+qAV/borlPiWTrCV2cc6Qs45F1+YaGBUJBVLbacMig==" />
                <div><span style="font-size:14px;" id="tip-msg"></span></div>
                <table class="publish-project_info" style="width: 80%; margin: 0 auto;" cellspacing="0" cellpadding="0">
                  <tr>
                    <td colspan="2">
                      <input type="tel" name="mobile" id="mobile" datatype="m" class="ui-input" style="width:400px;" placeHolder="请输入您的手机号码" />
                      <div class="Validform_checktip"></div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <div style="width: 400px;margin: 0 auto;display: flex;" id="validate_code_div">
                          <span style="flex: 1 1 auto;">
                            <input type="text" class="ui-input" name="validate_code" id="validate_code-for-login" style="width: 100%;" placeholder="请输入验证码" value="">
                            <div class="Validform_checktip"></div>
                          </span>
                          <span style="padding: 0 10px;display: flex;flex-flow: column;justify-content: center;" id="validate_code_tip">
                           <a href="#" id="yzm_btn_reg_box_for_login" onclick="yzm_reg_box();">获取短信验证码</a>
                          </span>
                      </div>
                    </td>
                    <!--<input type="button" onclick="send_code()" id="yzm_btn_reg_box_for_login" class="validate-code-btn" value="获取验证码">-->
                  </tr>
                  <tr>
                    <td colspan="2">
                      <p style="display: none; text-align: left;" id="wait_tip">
                        请您耐心等待…… <br>
                        您将会接到12590开头的电话为您播报验证码。
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <input type="button" class="font16 ui-btn confirm-btn" style="width: 374px;" onclick="submit_by_ajax(this)" AUTOCOMPLETE="off" value="登录">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a class="font16" style="color: #337ab7;" href="/member_applies?from=nav_top">注册</a>

                      <!--                        <span>-->
                      <!--                        </span>-->
                    </td>
                  </tr>
                </table>
</form>            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shade-div"></div>
</div>


<form id="new_reg_validate_code" action="/validate_codes/create_reg" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="r/hjKBwHEwRqdY+P1zNi7AxVFFf935dAjJyDyh0luVRLTmQKqO1jC+ok19A1sknETKyTSUdoId04+MeB8lRWDQ==" />
    <input type="hidden" name="validate_code[receiver]" id="reg_validate_code_receiver" value="" />
    <input type="hidden" name="validate_code[send_type]" id="reg_validate_code_type" value="" />
</form><script type="text/javascript">
    var polling_flag = false;
    $(function () {
        var form_login = $("#new_user").Validform({
            btnSubmit: "#btn_login",
            showAllError: true,
            tiptype: 4,
            ajaxPost: true,
            beforeSubmit: function (curform) {
                $('#btn_login').val('正在登录...');
                $('#btn_login').attr('disabled', true);
            },
            callback: function (data) {
                if (data.status == "200" || data.status == 302) {
                    save_login_info();
//                  手机密码登录成功弹出登录成功窗口

                    if (data.status == "200") {
                        var replace_href = top.location.href;
//                  点击意见反馈弹出框需登录 登录后弹出意见反馈窗口标志
                        var form_href = $("#new_user").attr("action");
                        if (form_href.match(/show_fb_dlg=true/)) {
                            replace_href += (replace_href.match(/\?/) ? "&show_fb_dlg=true" : "?show_fb_dlg=true");
                        }
                        top.location.replace(replace_href);
                    } else if (data.status == 302) {
                        top.location.reload();
                    }

                } else if (data.status == "422") {
                    $("#err_msg").text("页面已过期，请刷新页面后登陆！");
                    $('#btn_login').val('登录');
                    $('#btn_login').removeAttr('disabled');
                } else {
                    $("#err_msg").text("用户名或密码错误！");
                    $('#btn_login').val('登录');
                    $('#btn_login').removeAttr('disabled');
                }
                //$("#new_user_mobile").focus();
            }

        });
        form_login.tipmsg.r = " ";


        $('.font-link').on('click', function () {
            $('.font-link').removeClass('active');
            $(this).addClass('active');
            var login_type = $(this).attr('login_type');
            $('#tip-msg').text('');
            if (login_type == 'pwd') {
                $('.login-type').animate({
                    marginLeft: '0',
                    opacity: '0.5'
                }, 500);
                $('.login-type').animate({
                    marginLeft: '0',
                    opacity: '1'
                }, 300);
                polling_flag = false;
            }

            if (login_type == 'wx') {
                $('#wx_qr_img').css('filter', 'blur(4px)');
                $('.login-type').animate({
                    opacity: '0.5',
                    marginLeft: '-460px',
                    opacity: '1'
                }, 500, function () {
                    $.ajax({
                        type: 'get',
                        dataType: 'json',
                        url: "/home/get_qr_ticket",
                        success: function (result, status, o) {
                            polling_flag = true;
                            if($('#wx_qr_img').attr('src') === 'https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket=' + result['login_qr_ticket']){
                            }else{
                                $('#wx_qr_img').attr('src', 'https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket=' + result['login_qr_ticket']);
                            }
                            // $('#wx_qr_img').attr('src', 'https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket=' + 'gQG27zwAAAAAAAAAAS5odHRwOi8vd2VpeGluLnFxLmNvbS9xLzAyRE5xaE1hZGlkTDExN3hnVU5zMVoAAgRh-zZcAwSAUQEA');
                            $('#wx_qr_img').css('filter', '');
                            polling_find_user(0);
                        }
                    });
                });

            }


            if (login_type == 'valid') {
                $('#login_by_mobile-for-login').attr('action',$('#login_by_mobile-for-login').attr('action').replace(/scene_id=\d*/, '1=1'));
                $('.login-type').animate({
                    marginLeft: '-920px',
                    opacity: '0.5'
                }, 500);

                $('#validate_code_tip').html("<a href='#' id='yzm_btn_reg_box_for_login' onclick='yzm_reg_box();'>获取短信验证码</a>");

                $('.login-type').animate({
                    opacity: '1'
                }, 300);
                polling_flag = false;
            }

        });

        //记住密码
        if ($.cookie("rmbUser") == "true") {
            $("#ck_rmbUser").prop("checked", true);
            $("#new_user_mobile").val($.cookie("new_user_mobile"));
            $("#user_pwd").val($.cookie("user_pwd"));
        }
    });
    // }).call(this);

    //获取语音验证码
    function getVoiceCode_by_login(e) {
        var mobile = $('#mobile').val();
        if (!(/^1[0-9]{10}$/.test(mobile))) {
            // alert("请输入正确的手机号");
            $('#mobile').next('.Validform_checktip').addClass('Validform_wrong').text('请输入正确的手机号');
            return;
        }else{
            $('#mobile').next('.Validform_checktip').removeClass('Validform_wrong').text('');
        }
        $('#reg_validate_code_type').val('voice');
        $('#reg_validate_code_receiver').val(mobile);
        $("#new_reg_validate_code").ajaxSubmit({
            success: function (data) {
                $(e).parent().remove();
                $('#wait_tip').show();
            },
            error: function () {
                alert("异常错误");
            }
        });
    };

    function yzm_reg_box() {
        var mobile = $('#mobile').val();
        if (!(/^1[0-9]{10}$/.test(mobile))) {
            // alert("请输入正确的手机号");
            $('#mobile').next('.Validform_checktip').addClass('Validform_wrong').text('请输入正确的手机号');
            return;
        }else{
            $('#mobile').next('.Validform_checktip').removeClass('Validform_wrong').text('');
        }
        $('#reg_validate_code_receiver').val(mobile);
        $('#reg_validate_code_type').val('sms');
        $("#new_reg_validate_code").ajaxSubmit({
            dataType: 'script',
            success: function (data) {
                return timing($("#yzm_btn_reg_box_for_login"));
            },
            error: function () {
                return alert("异常错误");
            }
        });
    };

    function timing($e) {
        $p_node = $e.parent();
        var wait = 60;
        $p_node.html("未接到短信？(" + wait + ")秒后<br><a href='#'>点此获取语音验证码</a>");
        var stop_code = setInterval(function () {
            wait--;
            if (wait === 0) {
                $p_node.html("未接到短信？<br><a href='#' onclick='getVoiceCode_by_login(this)'>点此获取语音验证码</a>");
                wait = 60;
                return clearInterval(stop_code);
            } else {
                $p_node.html("未接到短信？(" + wait + ")秒后<br><a href='#'>点此获取语音验证码</a>");
            }
        }, 1000);
    };

    function submit_by_ajax(e) {
        var mobile = $('#mobile').val();
        var validate_code = $('#validate_code-for-login').val();
        if (!(/^1[0-9]{10}$/.test(mobile))) {
            // alert("请输入正确的手机号");
            $('#mobile').next('.Validform_checktip').addClass('Validform_wrong').text('请输入正确的手机号');
            return;
        }else{
            $('#mobile').next('.Validform_checktip').removeClass('Validform_wrong').text('');
        }
        $.ajax({
            sync: true,
            type: 'post',
            url: '/validate_codes/check_validate_code.json',
            data: {
                'mobile': mobile,
                'validate_code': validate_code,
                authenticity_token: $("#login_by_mobile-for-login input[name='authenticity_token']").val()
            },
            dataType: 'json',
            success: function (json) {
                if (json) {
                    $('#validate_code-for-login').next('.Validform_checktip').removeClass('Validform_wrong').text('');
                    $("#login_by_mobile-for-login").submit();
                } else {
                    // alert('验证码有误!');
                    $('#validate_code-for-login').next('.Validform_checktip').addClass('Validform_wrong').text('验证码有误!');
                    $(e).val('登录');
                    $(e).removeAttr('disabled');
                }
            },
            beforeSend: function () {

                $(e).val('正在登录...');
                $(e).attr('disabled', true);
            },
            error: function () {
                alert('网络繁忙，请稍候重试！');
            }
        })
    }

    //记住用户名密码
    function save_login_info() {
        if ($("#ck_rmbUser").prop("checked")) {
            var new_user_mobile = $("#new_user_mobile").val();
            var user_pwd = $("#user_pwd").val();
            $.cookie("rmbUser", "true", {expires: 7}); //存储一个带7天期限的cookie
            $.cookie("new_user_mobile", new_user_mobile, {expires: 7});
            $.cookie("user_pwd", user_pwd, {expires: 7});
        } else {
            $.cookie("rmbUser", "false", {expire: -1});
            $.cookie("new_user_mobile", "", {expires: -1});
            $.cookie("user_pwd", "", {expires: -1});
        }
    }

    function polling_find_user(recursion_deep) {
        if(polling_flag){
            var num = recursion_deep;

            $.ajax({
                type: 'get',
                url: "/home/polling_find_user_from_qr",
                dataType: 'json',
                success: function (r) {
                    if(r.tf){
                        window.location.reload();
                    }else{
                        console.log('polling_f_u' + '--' + num.toString());
                        if(r.scene_id && num > 0){
                            var replace_href = $('#login_by_mobile-for-login').attr('action');
                            replace_href += (replace_href.match(/\?/) ? "&scene_id=" + r.scene_id : "?scene_id=" + r.scene_id);
                            $('#login_by_mobile-for-login').attr('action', replace_href);
                            // 滑动到手机号登录界面
                            $('#tip-msg').text('为了您的账户安全，请完成手机验证一键登录哦！');
                            $('.login-type').animate({
                                marginLeft: '-920px',
                                opacity: '0.5'
                            }, 500);
                            $('.login-type').animate({
                                opacity: '1'
                            }, 300);
                            polling_flag = false;
                        }else{
                            setTimeout(
                                function() {
                                    polling_find_user(++num)
                                }, 2000);
                        }
                    }
                }
            });
        }
    }
</script>

<div class="bg_gray">
  <div id="is_login" style="display: none;" logged=false></div>
<div id="work_center">
  <div class="top_img" >
  </div>

  <div class="work_center_top" >

    <div class="top_left">
      <div class="top_left_top">
        <div class="avatar">
          <img src="static/picture/1639328314_439348611251826594.png" alt="1639328314 439348611251826594" width="120" height="120" />
        </div>
        <ul class="work_center_info">
          <li>
            <div class="work_center_info_header">
              <div class="work_center_title">
                重庆市工作中心
              </div>
              <div class="auth_tag">
                算客工场官方授权
                <div style="display: inline-block"><img width="20" height="20" src="static/picture/dlwt_home_allow-3d27fdead1ffa4a0b158a9d7d0dfacf1ba35b91fe700c6e16ce9a4983a5143ef.png" alt="Dlwt home allow 3d27fdead1ffa4a0b158a9d7d0dfacf1ba35b91fe700c6e16ce9a4983a5143ef" /></div>
              </div>
            </div>
          </li>
          <li class="work_center_resume">
            <textarea rows="4" cols="75" wrap="physical" readonly="readonly" style= "background:transparent;border-style:none;resize: none;">算客工场（重庆）工作中心诚邀合作、团队承接工程预决算。
联系电话：李工158-2338-7930（微信同号）。
简介：现目前规模化做到8个人团队，主要承接承接工程咨询、预结算审核、控制价编制、全过程咨询、造价咨询、BIM咨询；我们的工作宗旨“精益求精”“共享共赢”。
1、工程质量做到客户满意，具有丰富的现场经验，诚心诚心与各位雇主领导合作。
2、精通钢筋、图形、安装、计价软件从事土建、钢筋、装修、安装工程的算量与计价，精通工程量计算，有大型工程预结算经验，工作认真细致、负责，能独立完成大中型工程的全过程造价业务，各省市正版广联达全套软件。
办公地点：重庆市南岸区万凯新都会A栋21-18（四公里轻轨站旁）
            </textarea>
          </li>
        </ul>
      </div>

      <div class="top_left_bottom">
        <div class="work_center_tags">

          <span class="tags_title">技能标签： </span>
          <ul>
                <li>
                  &nbsp;土建&nbsp;
                </li>
                <li>
                  &nbsp;结算&nbsp;
                </li>
                <li>
                  &nbsp;广联达&nbsp;
                </li>
                <li>
                  &nbsp; 斯维尔&nbsp;
                </li>
                <li>
                  &nbsp;多层住宅&nbsp;
                </li>
                <li>
                  &nbsp; 高层住宅&nbsp;
                </li>
                <li>
                  &nbsp; 其他&nbsp;
                </li>
                <li>
                  &nbsp;算量+编清单+组价&nbsp;
                </li>
          </ul>
        </div>
      </div>

    </div>

    <div class="top_right">
      <div class="btn_group">
        <ul>
          <li>
            <a class="employ_btn" id="employ" href="/projects/publish_way?project%5Bhire%5D=6464">雇佣TA</a>
          </li>
          <li id="qq_btn">
            <a target="_blank" class="qq_btn" clicked="false" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1296808360&amp;site=qq&amp;menu=yes">QQ交谈</a>
          </li>
          <li>
            <div id='mobile_btn' clicked="false" >
              电话联系
            </div>
          </li>
        </ul>
      </div>


    </div>

  </div>


  <div class="work_center_main" >
    <div class="projects_data">
      <div class="data_img">
        <div id="pie2d_container" style="min-height:200px; overflow:hidden;margin-top:38px;"></div>
        <div class="data_title"><span>项目数据</span></div>
      </div>
      <div class="data_info">
        <table>
          <tr>
            <td>
              <ul>
                <li>
                  <span class="big_font">166</span><span>个</span>
                </li>
                <li>
                  <span>完成项目</span>
                </li>
              </ul>
            </td>
            <td>
              <ul>
                <li>
                  <span class="big_font">10</span><span>个</span>
                </li>
                <li>
                  <span>进行中项目</span>
                </li>
              </ul>
            </td>
            <td>
              <ul>
                <li>
                  <span class="big_font">101</span><span>个</span>
                </li>
                <li>
                  <span>合作雇主</span>
                </li>
              </ul>
            </td>
            <td>
              <ul>
                <li>
                  <span class="big_font">23</span><span>个</span>
                </li>
                <li>
                  <span>回头客</span>
                </li>
              </ul>
            </td>
          </tr>
        </table>
        <table class="stat_data">
          <tr>
            <td><span>总规模：</span><span class="black_font">3427721平方米</span></td>
            <td>总用时：<span class="black_font">759天</span></td>
          </tr>
          <tr class="stat_data">
            <td>总收入：<span class="black_font">1224686.0元</span></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="service_data">
      <div class="data_img">
        <div id="radar_container" style="min-height: 200px;margin-top: 38px;overflow: hidden;"></div>
        <div class="data_title"><span>服务数据</span></div>
      </div>


      <div class="data_info">
        <div class="data_table">
          <table>
            <tr>
              <td>
                <ul>
                  <li>
                    <span class="big_font">100</span><span>分</span>
                  </li>
                  <li>
                    <span>信誉分</span>
                  </li>
                </ul>
              </td>
              <td>
                <ul>
                  <li>
                    <span class="big_font">0</span><span>个</span>
                  </li>
                  <li>
                    <span>纠纷</span>
                  </li>
                </ul>
              </td>
              <td>
                <ul>
                  <li>
                        <span class="big_font">80</span><span>%</span>
                  </li>
                  <li>
                    <span>按时交付率</span>
                  </li>
                </ul>
              </td>
              <td>
                <ul>
                  <li>
                        <span class="big_font">93.83</span><span>%</span>
                  </li>
                  <li>
                    <span>好评率</span>
                  </li>
                </ul>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="members_data">
      <div class="members_top">
        <div class="members_top_title">
          团队成员
        </div>
        <div class="members_stats_data">
           专业工程师：6人
        </div>
      </div>
      <div><hr style="height:1px; border:none;" /> </div>
      <div class="members_info">
        <div class="members_info_left">
          <div class="member_pre">
            <img src=static/picture/dlwt_home_left-e53fc7650e6902e8ecc040201ff8585f927ab06cb3554c130f1abb8d22384a3f.png />
          </div>
        </div>

        <div class="members_info_middle">
          <ul class="members_info_ul">
                <li>
                  <!--< member = user.member %>-->
                  <!--<= link_to member_path(member.id), target: '_blank' do %>-->
                  <div class="members_info_item">
                    <img alt="李工(0006464)" title="李工(0006464)" width="130" height="176" src="static/picture/3807053162_1521694955_1_.png" />
                    <div class="member_info">
                      <span style="font-size: 14px; margin-left: 10px;">李工(0006464)</span>
                    </div>
                  </div>
                  <!--< end %>-->
                </li>
                <li>
                  <!--< member = user.member %>-->
                  <!--<= link_to member_path(member.id), target: '_blank' do %>-->
                  <div class="members_info_item">
                    <img alt="牟工(0041897)" title="牟工(0041897)" width="130" height="176" src="static/picture/1642442310_1521694904_1_.png" />
                    <div class="member_info">
                      <span style="font-size: 14px; margin-left: 10px;">牟工(0041897)</span>
                    </div>
                  </div>
                  <!--< end %>-->
                </li>
                <li>
                  <!--< member = user.member %>-->
                  <!--<= link_to member_path(member.id), target: '_blank' do %>-->
                  <div class="members_info_item">
                    <img alt="敬工(0076754)" title="敬工(0076754)" width="130" height="176" src="static/picture/2822962569_1521695009_1_.png" />
                    <div class="member_info">
                      <span style="font-size: 14px; margin-left: 10px;">敬工(0076754)</span>
                    </div>
                  </div>
                  <!--< end %>-->
                </li>
                <li>
                  <!--< member = user.member %>-->
                  <!--<= link_to member_path(member.id), target: '_blank' do %>-->
                  <div class="members_info_item">
                    <img alt="郑工(0076886)" title="郑工(0076886)" width="130" height="176" src="static/picture/360590464_272372392286783764.jpg" />
                    <div class="member_info">
                      <span style="font-size: 14px; margin-left: 10px;">郑工(0076886)</span>
                    </div>
                  </div>
                  <!--< end %>-->
                </li>
                <li>
                  <!--< member = user.member %>-->
                  <!--<= link_to member_path(member.id), target: '_blank' do %>-->
                  <div class="members_info_item">
                    <img alt="雷工(0082783)" title="雷工(0082783)" width="130" height="176" src="static/picture/131732551_444f741fddef0b77d00dc9c006909510.png" />
                    <div class="member_info">
                      <span style="font-size: 14px; margin-left: 10px;">雷工(0082783)</span>
                    </div>
                  </div>
                  <!--< end %>-->
                </li>
                <li>
                  <!--< member = user.member %>-->
                  <!--<= link_to member_path(member.id), target: '_blank' do %>-->
                  <div class="members_info_item">
                    <img alt="冯工(0109182)" title="冯工(0109182)" width="130" height="176" src="static/picture/dlwt_team_none-f1fe8401446abb4864722409ffc8a716edac5949eddef093f74f25a7a951a0e5.jpg" />
                    <div class="member_info">
                      <span style="font-size: 14px; margin-left: 10px;">冯工(0109182)</span>
                    </div>
                  </div>
                  <!--< end %>-->
                </li>
          </ul>
        </div>

        <div class="members_info_right">
          <div class="member_next">
            <img src=static/picture/dlwt_home_right-798b859661f2339181c7038a5eb63b422dc45b1cb62ce2ae70d0f4220f914655.png  />
          </div>
        </div>
      </div>
    </div>

    <div class="comments">
      <div class="comments_top">
        <div class="comments_top_title">
          雇主评价
        </div>
      </div>
      <div><hr style="height:1px; border:none;" /> </div>
      <div class="comments_tags">
        <ul>
        </ul>
      </div>

      <div id="comments_info" class="comments_info">
            <a class="project_link" href="/projects/19013" target="_blank">
      <div class="comment">
        <div class="project_title">
          <span title="标段2：A1-A11和B33-B44工程量计算和填量">标段2：A1-A11和B33-B44工程量计算和填量</span>
          <div class="startup_start_date">
            承接日期：2019-04-11
          </div>
        </div>

        <div class="project_data">
          <ul>
            <li>
              <span>项目金额：</span>¥1600
            </li>
            <li>
              <span>项目规模：</span>1
            </li>
            <li>
              <span>项目周期：</span>3.2天
            </li>
          </ul>

        </div>

      </div>
    </a>
        <div><hr style="height:1px; border:none;" /> </div>
    <a class="project_link" href="/projects/19031" target="_blank">
      <div class="comment">
        <div class="project_title">
          <span title="广东东莞|中小型百货|土建|算量|广联达">广东东莞|中小型百货|土建|算量|广联达</span>
          <div class="startup_start_date">
            承接日期：2019-04-15
          </div>
        </div>

        <div class="project_data">
          <ul>
            <li>
              <span>项目金额：</span>¥6051
            </li>
            <li>
              <span>项目规模：</span>
            </li>
            <li>
              <span>项目周期：</span>4.4天
            </li>
          </ul>

        </div>
            <div class="comment_end">
              <div class="comment_up">
                <div class="comment_content">
                  <span>评价：</span>
                  <div id="content" title="总体而言，服务态度较好，响应也比较及时，效率也还行，但质量还需进一步提高，希望后续的合作，能提高成果初稿的质量，尽量不要出现反复修改的情况。">
                    总体而言，服务态度较好，响应也比较及时，效率也还行，但质量还需进一步提高，希望后续的合作，能提高成果初稿的质量，尽量不要出现反复修改的情况。
                  </div>
                </div>
              </div>
            </div>

      </div>
    </a>
        <div><hr style="height:1px; border:none;" /> </div>
    <a class="project_link" href="/projects/19068" target="_blank">
      <div class="comment">
        <div class="project_title">
          <span title="广东东莞|中小型百货|土建|算量|广联达（审核）">广东东莞|中小型百货|土建|算量|广联达（审核）</span>
          <div class="startup_start_date">
            承接日期：2019-04-14
          </div>
        </div>

        <div class="project_data">
          <ul>
            <li>
              <span>项目金额：</span>¥1068
            </li>
            <li>
              <span>项目规模：</span>
            </li>
            <li>
              <span>项目周期：</span>4.0天
            </li>
          </ul>

        </div>
            <div class="comment_end">
              <div class="comment_up">
                <div class="comment_content">
                  <span>评价：</span>
                  <div id="content" title="总体而言，服务态度较好，响应也比较及时，效率也还行，但质量还需进一步提高，希望后续的合作，能提高成果初稿的质量，不要出现反复修改的情况。">
                    总体而言，服务态度较好，响应也比较及时，效率也还行，但质量还需进一步提高，希望后续的合作，能提高成果初稿的质量，不要出现反复修改的情况。
                  </div>
                </div>
              </div>
            </div>

      </div>
    </a>
        <div><hr style="height:1px; border:none;" /> </div>
    <a class="project_link" href="/projects/18937" target="_blank">
      <div class="comment">
        <div class="project_title">
          <span title="新疆和田|车库|安装|算量+编清单|广联达">新疆和田|车库|安装|算量+编清单|广联达</span>
          <div class="startup_start_date">
            承接日期：2019-04-07
          </div>
        </div>

        <div class="project_data">
          <ul>
            <li>
              <span>项目金额：</span>¥4000
            </li>
            <li>
              <span>项目规模：</span>
            </li>
            <li>
              <span>项目周期：</span>2.4天
            </li>
          </ul>

        </div>

      </div>
    </a>
        <div><hr style="height:1px; border:none;" /> </div>
    <a class="project_link" href="/projects/18982" target="_blank">
      <div class="comment">
        <div class="project_title">
          <span title="山东济南|中高层住宅（18层及以下）|土建|算量|广联达">山东济南|中高层住宅（18层及以下）|土建|算量|广联达</span>
          <div class="startup_start_date">
            承接日期：2019-04-11
          </div>
        </div>

        <div class="project_data">
          <ul>
            <li>
              <span>项目金额：</span>¥1500
            </li>
            <li>
              <span>项目规模：</span>
            </li>
            <li>
              <span>项目周期：</span>3.1天
            </li>
          </ul>

        </div>

      </div>
    </a>

<div id="will_paginate" style="background-color: #ffffff;">
  <div class="page_nav" >
    <div class="pagination"><span class="previous_page disabled">&#8592; 上一页</span> <em class="current">1</em> <a rel="next" href="/work_centers/5?page=2">2</a> <a href="/work_centers/5?page=3">3</a> <a href="/work_centers/5?page=4">4</a> <a href="/work_centers/5?page=5">5</a> <a href="/work_centers/5?page=6">6</a> <a href="/work_centers/5?page=7">7</a> <a href="/work_centers/5?page=8">8</a> <a href="/work_centers/5?page=9">9</a> <span class="gap">&hellip;</span> <a href="/work_centers/5?page=33">33</a> <a href="/work_centers/5?page=34">34</a> <a class="next_page" rel="next" href="/work_centers/5?page=2">下一页 &#8594;</a></div>
  </div>
</div>

<script>
    $(function () {
        var project_links = document.getElementById("will_paginate").getElementsByTagName("a");

        for(var i = 0; i < project_links.length; i++){
            project_links[i].setAttribute("data-remote", true);
        }
    });

</script>

      </div>
    </div>
  </div>
  <div style="clear:both;"></div>
</div>


<script type="text/javascript">
  window.onload = function () {
      var login_div = document.getElementById('is_login');
      var is_logged = login_div.getAttribute('logged');

//      document.getElementById('employ').onclick = function () {
//          if(is_logged == 'false'){
//              login();
//              return false;
//          }else{
//              return true
//          }
//      }

      $('#mobile_btn').click(function(){
          if(is_logged == 'false'){
              login();
              return false;
          }
          var mobile_div = document.getElementById('mobile_btn');
          var clicked = mobile_div.getAttribute('clicked');
          if(!(mobile_div && clicked == 'false')) return false;

          $.ajax({
              type: "post",
              url: "/work_centers/" + 5 +"/view_mobile",
              data: {id: 5},
              success: show_mobile(mobile_div),
          });

      });
      $('#qq_btn').click(function(){
          if(is_logged == 'false'){
              login();
              return false;
          }
          var qq_li = document.getElementById('qq_btn');
          var a_qq = qq_li.getElementsByTagName('a')[0];
          var clicked = a_qq.getAttribute('clicked');
          if(!(qq_li && clicked == 'false')) return false;

          $.ajax({
              type: "post",
              url: "/work_centers/" + 5 +"/view_qq",
              data: {id: 5},
              success: function () {
//                  qq_li.setAttribute('id', 'qq_btn_1');
                  a_qq.setAttribute('clicked', true);
              },
          });
      });
  }
    function show_mobile(src) {
        if(!src) return false;
        src.setAttribute("style","border-style: none;");
//        src.setAttribute('id', "mobile_btn_1");
        src.innerHTML = "<img src='static/picture/dlwt_iphone_icon-3e349caefe02399fccb4e69ce65a47090ea3c601efba4498de4e0ed32e9ddd0e.png' />15823387930"
    }

</script>
<script type="text/javascript">
    var e = 0,
        n = 0,
        i = Math.ceil($(".members_info_middle .members_info_ul > li").length / 5);
    $(".members_info_right .member_next").on("click",
        function() {
            e += 1,
                n = -680 * e + "px",
                i > e ? $(".members_info_middle .members_info_ul").animate({
                    marginLeft: n
                }) : e >= i - 1 && (e = i - 1)
        });
    $(".members_info_left .member_pre").on("click",
        function() {
            e -= 1,
                n = -680 * e + "px",
                e >= 0 ? $(".members_info_middle .members_info_ul").animate({
                    marginLeft: n
                }) : 0 > e && (e = 0)
        });
</script>

<script type="text/javascript">

    var series = [{
        type: 'pie',
        name: '已完成的项目类型占比',
        data: []
    }];
    series[0]['data'].push({
        name: '办公/写字楼',
        y: 10.843373493975903
    });
    series[0]['data'].push({
        name: '多层住宅',
        y: 20.481927710843372
    });
    series[0]['data'].push({
        name: '高层住宅',
        y: 23.49397590361446
    });
    series[0]['data'].push({
        name: '厂房/仓库',
        y: 6.626506024096386
    });
    series[0]['data'].push({
        name: '宿舍/公寓',
        y: 1.8072289156626504
    });
    series[0]['data'].push({
        name: '别墅/洋房',
        y: 4.216867469879518
    });
    series[0]['data'].push({
        name: '三星以下酒店',
        y: 1.2048192771084338
    });
    series[0]['data'].push({
        name: '学校',
        y: 2.4096385542168677
    });
    series[0]['data'].push({
        name: '医院',
        y: 1.8072289156626504
    });
    series[0]['data'].push({
        name: '其他',
        y: 8.433734939759036
    });
    setTimeout(pie2d('pie2d_container', '', series), 100);

    var radar_series = [{
        name: '分数',
        data: [],
        pointPlacement: 'on'
    }];

    //经验
    radar_series[0]['data'].push(91.0);

    //沟通
    radar_series[0]['data'].push(100);

    //效率
    radar_series[0]['data'].push(100.0);

    //态度
    radar_series[0]['data'].push(100);

    //规范
    radar_series[0]['data'].push(73.34939759036145);

    //质量
    radar_series[0]['data'].push(85.67901234567901);

    var categories = ['经验', '沟通', '效率', '态度', '规范', '质量'];
    setTimeout(radar('radar_container', '', categories, radar_series), 100);
</script>
<script type="text/javascript" src="static/js/jia.js" charset="utf-8"></script>

</div>
<div class="clearfix"></div>
<div class="tborder">
  <div class="footer">
  <div id='show_dlgs' show_fb_dlg=""></div><!--点击意见反馈弹出框需登录 登录后弹出意见反馈窗口标志-->
  <div class="w">
    <div>
      <ul class="tel">
        <li style="margin-bottom: 12px;">
          <img src="static/picture/footer_logo-93a287937d6cfc0545b5193c491578c201a4bb5c47c1ff3193bcea0a5b204292.png" alt="Footer logo 93a287937d6cfc0545b5193c491578c201a4bb5c47c1ff3193bcea0a5b204292" />
        </li>
        <li><img src="static/picture/footer_position_icon-135dea1e0065c84db485aa9a0167983bcf9c72cf46e5e6e62095583096992ce2.png" alt="Footer position icon 135dea1e0065c84db485aa9a0167983bcf9c72cf46e5e6e62095583096992ce2" width="14" height="14" />
          北京市昌平区龙域东二路龙域中心东塔五层K13区
        </li>
        <li><img src="static/picture/footer_phone_icon-8043e8e9c266263ea8e8ec67c5fa7cdee61ce9c8133513726ef73ae2c8843161.png" alt="Footer phone icon 8043e8e9c266263ea8e8ec67c5fa7cdee61ce9c8133513726ef73ae2c8843161" width="14" height="14" />
          4009938200
          15321980075
        </li>
        <li><img src="static/picture/footer_qq_icon-d2a806a6465988b99f4e56cd1f5c8205d1485a51a9af48d2388da1a65b7765d9.png" alt="Footer qq icon d2a806a6465988b99f4e56cd1f5c8205d1485a51a9af48d2388da1a65b7765d9" width="14" height="14" />
          3283170039
          工作日8:30-17:30
        </li>
      </ul>
      <ul>
        <li>
          <a target="_blank" href="http://www.3kgc.com/articles/4">关于我们</a>
          |
          <a target="_blank" href="/articles?assort=2">平台规则</a>
          |
          <a target="_blank" href="/articles">最新动态</a>
          |
          <a target="_blank" href="http://www.3kgc.com/articles/13">手机版</a>
        </li>
        <li>
          Copyright 2015-2019 北京小栗科技有限公司 版权所有 京ICP备15032803号
        </li>
        <li>
          <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
          document.write(unescape("%3Cspan id='cnzz_stat_icon_1255094452'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/stat.php%3Fid%3D1255094452%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
          <script type='text/javascript'>
              var _hmt = _hmt || [];
              (function () {
                  var hm = document.createElement("script");
                  hm.src = "https://hm.baidu.com/hm.js?455ff2b31e6e616c3896cdec23d94f4e";
                  var s = document.getElementsByTagName("script")[0];
                  s.parentNode.insertBefore(hm, s);
              })();
          </script>
          <a class="bdxy" target="_blank" href="http://www.baidu.com/s?wd=www.3kgc.com@v"></a>
          <a class="zfb" target="_blank" href="javascript:void(0)"></a>
          <a class="aly" target="_blank" href="javascript:void(0)"></a>
          <a class="smyz" target="_blank" href="http://www.anquan.org/authenticate/cert/?site=www.3kgc.com&at=business"></a>

        </li>

      </ul>

    </div>
    <div class="clearfix mb10"></div>
  </div>

</div>
<div class="dialog noflash-dialog" style="margin-left: -100px;width:250px;height:200px;">

  <div class="dialog-head">提示<a class="close" href="javascript:;"><b>&#8855;</b>关闭</a></div>
  <div class="dialog-body">
    我们的产品需要安装flashplayer 10或更高版本 <br/>
    请
    <a target="_blank" href="http://get.adobe.com/flashplayer">点击此处</a>  免费下载
  </div>
</div>
<div class="dialog-bg"></div>

<div class="m-right-tool-bar">
  <ul>
    <li class="m-right-tool-list" style="border-top:none;">
      <span class="hbtn" intext="QQ客服">
        <img class="bg" src="static/picture/blank-2f561b02a49376e3679acd5975e3790abdff09ecbadfa1e1858c7ba26e3ffcef.gif" alt="Blank 2f561b02a49376e3679acd5975e3790abdff09ecbadfa1e1858c7ba26e3ffcef" width="40" height="28" />
        <span>QQ客服</span>

        <div class="bg-poptip">
          <div class="ui-poptip ui-poptip-r ui-poptip-white">
            <div class="ui-poptip-arrow ui-poptip-arrow-border"></div>
            <div class=" ui-poptip-arrow ui-poptip-arrow-bg"></div>
            <div class="m-tool-box clear" style="width:132px;text-align: center;">
              <p class="clear mt20 mb10" style="font-size:14px;font-weight:400;color:rgba(153,153,153,1);">
                <img style="  background: url(static/images/service_icon_pc-b31bf3f0171d000dca0362e92e884e0bd3ff6fcef95fd512719b507d0eb7ba72.png) no-repeat -435px -30px;" src="static/picture/blank-2f561b02a49376e3679acd5975e3790abdff09ecbadfa1e1858c7ba26e3ffcef.gif" alt="Blank 2f561b02a49376e3679acd5975e3790abdff09ecbadfa1e1858c7ba26e3ffcef" width="30" height="26" />QQ客服
              </p>

              <p class="clear">
                <a target="_blank" title="点击聊天" href="http://wpa.qq.com/msgrd?v=3&uin=3214423261&site=qq&menu=yes">
                  项目问题咨询
                </a></p>

              <p class="clear mt10 mb10">

                <a target="_blank" title="点击聊天" href="http://wpa.qq.com/msgrd?v=3&uin=2726153751&site=qq&menu=yes">
                  算客注册咨询
                </a></p>

              <p class="clear mb10">
                <a target="_blank" title="点击聊天" href="http://wpa.qq.com/msgrd?v=3&uin=2726153751&site=qq&menu=yes">
                  团队企业合作
                </a></p>
            </div>
          </div>
        </div>
      </span>

    </li>
    <li class="m-right-tool-list">
      <span class="hbtn m-right-tool1" intext="联系我们">
        <img class="bg" src="static/picture/blank-2f561b02a49376e3679acd5975e3790abdff09ecbadfa1e1858c7ba26e3ffcef.gif" alt="Blank 2f561b02a49376e3679acd5975e3790abdff09ecbadfa1e1858c7ba26e3ffcef" width="40" height="28" />
        <span>联系我们</span>

        <div class="bg-poptip" style="width: 446px;">
          <div class="ui-poptip ui-poptip-r ui-poptip-white">
            <div class="ui-poptip-arrow ui-poptip-arrow-border"></div>
            <div class=" ui-poptip-arrow ui-poptip-arrow-bg"></div>
            <div class="m-tool-box clear lxwm">
              <p class="clear">
                <span class="bg_phone"></span>电话：4009938200
                15321980075
              </p>

              <p class="clear">
                <span class="bg_address"></span>北京市昌平区龙域东二路龙域中心东塔五层
              </p>
            </div>
          </div>
        </div>
      </span>

    </li>
    <li class="m-right-tool-list">
      <span class="hbtn m-right-tool2" intext="二维码">
        <img class="bg" src="static/picture/blank-2f561b02a49376e3679acd5975e3790abdff09ecbadfa1e1858c7ba26e3ffcef.gif" alt="Blank 2f561b02a49376e3679acd5975e3790abdff09ecbadfa1e1858c7ba26e3ffcef" width="40" height="28" />
        <span>二维码</span>

        <div class="bg-poptip" style="width: 275px;height:267px;top:-100px;">
          <div class="ui-poptip ui-poptip-r ui-poptip-white">
            <div class="ui-poptip-arrow ui-poptip-arrow-border" style="top:115px"></div>
            <div class=" ui-poptip-arrow ui-poptip-arrow-bg" style="top:115px"></div>
            <div class="m-tool-box clear all-center" style="width:228px;">
              <div class="clear">
                <img class="mt10 mb10" src="static/picture/app_service_content-951302c48746fabaa5d925a0d48f332c22d5bf1a7bd47d60081b0249105143be.png" alt="App service content 951302c48746fabaa5d925a0d48f332c22d5bf1a7bd47d60081b0249105143be" /><br>
              </div>
            </div>
          </div>
        </div>
      </span>

    </li>
      <li class="m-right-tool-list">
      <span class="hbtn m-right-tool3_no_login" intext="意见反馈">
        <img class="bg" src="static/picture/blank-2f561b02a49376e3679acd5975e3790abdff09ecbadfa1e1858c7ba26e3ffcef.gif" alt="Blank 2f561b02a49376e3679acd5975e3790abdff09ecbadfa1e1858c7ba26e3ffcef" width="40" height="28" />
        <span>意见反馈</span></span>
      </li>

    <li class="m-right-tool-list gototop" id="gototop">
      <a title="返回顶部" href="#"><span class="hbtn m-right-tool4" intext="TOP">
        <img class="bg" src="static/picture/blank-2f561b02a49376e3679acd5975e3790abdff09ecbadfa1e1858c7ba26e3ffcef.gif" alt="Blank 2f561b02a49376e3679acd5975e3790abdff09ecbadfa1e1858c7ba26e3ffcef" width="40" height="28" />
        <span style="padding-left: 5px;">TOP</span></span></a>
    </li>
  </ul>
</div>
<div class="dlg-hidden" id="user-fb">
  <form class="form-bd plr20" id="new_feedback" action="/feedbacks" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="zqA55drOGfIqGq5Z0IvPa+0FTMtnRIvB5ovYdJeK2J8qFj7HbiRp/apL9gYyCuRDrfzL1d3zPVxS75w/ePs3xg==" />
    <p>
      <textarea cols="50" rows="5" datatype="*" placeholder="如果您在使用平台时遇到些问题,或者有个人建议,请告知我们,我们会尽快解决." name="feedback[content]" id="feedback_content">
</textarea>

    </p>

    <!--<p>-->
    <!--手机号(选填):-->
    <!--<= f.text_field :mobile, class: "w300", placeholder: "请输入手机号" >-->

    <!--</p>-->

    <p class="font-gray">
      感谢您的参与,高质量的反馈或建议,一经采纳,将给您增加200经验值
    </p>

    <div class="mt10">
      <input type="submit" name="commit" value="提交反馈" class="ui-btn" data-disable-with="提交中..." />
    </div>
</form></div>
<script type="text/javascript" charset="utf-8">
    $(function () {
        $(".m-right-tool3").click(function () {
            $("#user-fb").dialog({width: "500px", title: "意见反馈"})
        });

//      点击意见反馈弹出框需登录 登录后弹出意见反馈窗口标志
        $(".m-right-tool3_no_login").click(function () {
            var new_user_form = document.getElementById("new_user");
            var login_form = document.getElementById("login_by_mobile-for-login");
            new_user_form.action += "?show_fb_dlg=true";
            login_form.action += "?show_fb_dlg=true";
            $('#show_login_div').show();
        });
    });
</script>
<img src="static/picture/track_ua.gif" width="0" height="0" style="line-height: 0;display: none;"/>
</div>

<script>
    $(function () {
        reset_window();
    });

    $(window).resize(function () {
        reset_window();
    });
</script>
</body>
</html>
